body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-custom {
    background-color: green;
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}
.btn-check:checked + .btn-custom {
    background-color: white;
    color: green;
}


.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }

  .esqueceu_senha {
    font-size: small;
  }

  #descricao {
    color: #B8EFA4;
    font-size: small;
  }

  #corFundo {
    background-color: #4B7552;
  }
  
  .descricao-carrinho {
    font-size: small;
    color: white;
  }

  .home-icon-container {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    
}


#botao-home {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px auto;
}

#sucesso {
  transform: translateY(100%);
  
}

.botao-sacola {
  border: none;
  background: none;
}





